@keyframes message-fade-in {
  0% {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes message-fade-out {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }
}